*

!/.gitignore
!/.gitattributes

!/LICENSE
!/Cargo.toml
!/Cargo.lock

!/src/
!/src/**
!/tests/
!/tests/**

!/.cargo/
!/.cargo/config.toml

!/README.md

!/tools/
!/tools/**
!/.vscode/
!/.vscode/launch.json
!/.vscode/tasks.json